@bg-color: #fff;
@fg-color: #333;

.blackandwhitebox {
    fill: @bg-color;
    stroke: @fg-color;
    stroke-width: 0.4;
}

body {
    font-family: sans-serif;
}

rect {
    .blackandwhitebox
}

text {
    fill: @fg-color;
}

rect.uoi {
    //rx : 5;
}

#complextitle {
    height: 1.5em;
}

body {
    background-color: #f3f3f3;
}

#sbgnContainer,
svg {
    width: 100%;
    height: 80vh;
    background: #fff;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    font-family: courier, monospace;
}

.red {
    stroke: red;
}
